@font-face {
	font-family: 'Oxfam_Global_Headline';
	src: url('../fonts/OxfamGlobalHeadline-Regular.eot');
	src: url('../fonts/OxfamGlobalHeadline-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OxfamGlobalHeadline-Regular.woff') format('woff'),
		url('../fonts/OxfamGlobalHeadline-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oa-icons';
	src: url('../fonts/oa-icons.eot');
	src: url('../fonts/oa-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oa-icons.woff') format('woff'),
		url('../fonts/oa-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
