html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 62.5%/1.3 Arial, Helvetica, Geneva, sans-serif;
  overflow: hidden;
}
