#donate-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto;

  .donate-title {
    background: #61a534;
    color: #fff;
    font-size: 4em;
    padding: 0.1em 0.2em;
    max-width: 308px;
    margin: 1em auto;
    font-family: 'Oxfam_Global_Headline', Arial, Helvetica, sans-serif;
  }

  .donate-options {
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    text-align: left;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0 0 1em 0;
      .text {
        font-size: 2em;
        min-width:200px;
        display: inline-block;
      }
      .option {
        text-decoration: none;
        padding: 0.5em 0.8em;
        background: #61a534;
        color: #fff;
        font-size: 1.5em;
        display: inline-block;
        min-width: 53px;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
}

#marker-key {
  position: fixed;
  bottom: 55px;
  // left: 126px;
  left: 30px;
  z-index: 99999;
  width: 290px;
  height: 5px;

  .marker-key-inner {
    position: relative;
  }

  label {
    display: block;
    margin-top: 0.5em;
    font-size: 1.1em;
  }

  #black-outer {
    position: absolute;
    transform: translate3d(0, 0, 0);
    #black {
      margin-left: -17px;
      margin-top: -42px;
      width: 35px;
      height: 45px;
      z-index: 223;
      outline: none;
      border: none;
    }
  }

  #green-outer {
    position: absolute;
    transform: translate3d(200px, 0, 0);
    #green {
      margin-left: -17px;
      margin-top: -42px;
      width: 35px;
      height: 45px;
      z-index: 206;
      outline: none;
      border: none;
    }
  }

}

#petition-header {
  background: #5fa645;
  width: 100%;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: table;

  padding: 0 4em;

  .logo {
    display: table-cell;
    vertical-align: middle;
    width:35%;
    .img-wrap {
      max-width: 187px;
      img {
        width: 100%;
      }
    }
  }

  .petition-form {
    display: table-cell;
    vertical-align: middle;
    width: 65%;
    overflow: hidden;

    .petition-form-inner {
      display: table;
      vertical-align: middle;
      float: right;

      .petition-form-cell {
        display: table-cell;
        margin: 0;
        padding: 0;
        vertical-align: middle;
      }
      .petition-form-wrap {
        h1 {
          margin: 0;
          padding: 0;
          color: #fff;
          text-transform: uppercase;
          font-size: 2.3em;
          margin-top: 0.8em;
          margin-right: 0.5em;
          font-family: 'Oxfam_Global_Headline', arial, helvetica, sans-serif;
        }
      }
      .petition-form-email {
        label {
          display: block;
          color: #fff;
          font-size: 1.4em;
          margin-bottom: 0.2em;
        }
        input {
          display: block;
          border: none;
          box-shadow: none;
          outline: none;
          padding: 0.89em 0.5em;
          margin-right: 1em;
        }
      }
      .petition-form-email-submit {
        button {
          background: #f16422;
          color: #fff;
          box-shadow: none;
          border: none;
          border-radius: none;
          padding: 0.4em 1em 0.6em;
          font-size: 1.5em;
          margin-top: 1.3em;
        }
      }
    }
  }
}

#map-outer {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  .custom-popup {
    display: table;

    .title {
      display: block;
    }
    .custom-popup-inner {
      .img {
        min-width: 100px;
        max-width: 150px;
        height: 100px;
        background-size: cover;
        background-repeat: none;
        background-attachment: scroll;
        display: table-cell !important;
        width: 50%;
        margin: 0;
        padding: 0;
      }
      .custom-popup-content {
        display: table-cell;
        margin-left: 1em;
        padding: 1em;

        .desc {
          margin: 0 0 0.5em 0;
        }
        .readMore { }
      }
    }
  }


  .leaflet-popup-pane {
    .leaflet-popup {
      // transform: translate3d(112%, -54%, 0);

      .leaflet-popup-content-wrapper {
        border-radius: none;
      }
      .leaflet-popup-tip-container {
        display: none;
      }
    }
  }
}

#popup-info {
  background: #fff;
  position: fixed;
  top: 115px;
  right: 0;
  min-width: 300px;
  max-width: 500px;
  max-height: 800px;
  height: auto;
  padding: 0.5em 1em 1em;
  z-index: 0;
  visibility: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  .close {
    position: absolute;
    background: #fff;
    padding: 0.5em 0.8em;
    left: -27px;
    top: 0px;
    color: #333;
    font-size: 1.4em;
  }

  &.show {
    visibility: visible;
    z-index: 2;
  }

  .custom-popup {
    display: table;
    overflow: hidden;

    .title {
      display: block;
      margin-top: 0;
      padding-top: 0;
      font-size: 1.5em;
      text-transform: uppercase;
    }

    .custom-popup-inner {
      float: left;
      margin-right: 0.8em;

      .img {
        min-width: 130px;
        max-width: 160px;
        height: 100px;
        background-size: cover;
        background-repeat: none;
        background-attachment: scroll;
        display: table-cell !important;
        width: 50%;
        margin: 0;
        padding: 0;
      }
    }
    .custom-popup-content {
      float: left;
      max-width: 200px;

      .desc {
        margin: 0 0 0.5em 0;
        font-size: 1.4em;
      }

      .readMore { }
    }

  }
}

#map-info {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 100%;
  overflow: hidden;

  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);

  .skip {
    position: fixed;
    top: 0;
    font-size: 4em;
    color: #000;
    z-index: 999;
    background: rgba(255, 255, 255, 0.95);
    padding: 5em 0.8em;
    height: 100%;

    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }

  .map-info-inner {
    position: relative;
    overflow: hidden;
  }

  #map-info-slider {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 40em;
    height: 100%;
  }

  .map-info-slider {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

    position: relative;
  }

  .map-info-title {
    -webkit-transition: all 0.2s ease-in 0.4s;
    -moz-transition: all 0.2s ease-in 0.4s;
    -ms-transition: all 0.2s ease-in 0.4s;
    -o-transition: all 0.2s ease-in 0.4s;
    transition: all 0.2s ease-in 0.4s;
    visibility: hidden;
  }

  .map-info-img {
    -webkit-transition: all 0.2s ease-in 0.8s;
    -moz-transition: all 0.2s ease-in 0.8s;
    -ms-transition: all 0.2s ease-in 0.8s;
    -o-transition: all 0.2s ease-in 0.8s;
    transition: all 0.2s ease-in 0.8s;
    visibility: hidden;
    img {
      width: 100%;
    }
  }

  .map-info-description {
    -webkit-transition: all 0.2s ease-in 1.2s;
    -moz-transition: all 0.2s ease-in 1.2s;
    -ms-transition: all 0.2s ease-in 1.2s;
    -o-transition: all 0.2s ease-in 1.2s;
    transition: all 0.2s ease-in 1.2s;
    visibility: hidden;
  }

  &.show {
    z-index: 999;
    top: 110px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    .map-info-title {
      visibility: visible;
      text-transform: uppercase;
      font-family: 'Oxfam_Global_Headline', Arial, Helvetica, sans-serif;
      font-size: 3em;
      color:#222;
    }

    .map-info-img {
      display: block;
      max-width:500px;
      visibility: visible;
    }

    .map-info-description {
      visibility: visible;
      font-size: 1.5em;
      max-width: 550px;
      margin: 1em auto;
    }
  }

  .close {
    color: #333;
    position: absolute;
    font-size: 1.4em;
    top: 20px;
    left: 20px;
    z-index: 9999;
    text-align: left;
    text-decoration: none;

    span {
      display: block;
    }
  }

  .map-info-inner {
    text-align: center;
    padding: 1em 3em;

    .map-info-img {
      max-width:400px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}
