<a href="#" class="skip prev" data-id="{{prevId}}"><i class="fa fa-chevron-left"></i></a>
<div class="map-info-slider animated">
  <h1 class="map-info-title">
    {{ title }}
  </h1>
  <!-- <div class="map-info-img">
    <img src="{{img}}" />
  </div> -->
  <div class="map-info-description">
    {{{ description }}}
  </div>

  <!-- donation -->
  {{#isDonate}}
  <div id="donate-wrapper">
    <h2 class="donate-title">Donate Now</h2>
    <ul class="donate-options">
      {{#donate}}
        <li>
          <span class="text">{{text}}</span>
          <a class="option" href="#"> €{{price}}</a>
        </li>
      {{/donate}}
    </ul>
  </div>
  {{/isDonate}}
</div>
<a href="#" class="skip next" data-id="{{nextId}}"><i class="fa fa-chevron-right"></i></a>
