<a href="#" class="close"><i class="fa fa-caret-right"></i></a>
<div class='custom-popup'>
  <h2 class='title'>
    {{ title }}
  </h2>
  <div class='custom-popup-inner'>
    <div class='img' style='background-image:url( {{ img }} );' /></div>
    <div class='custom-popup-content'>
      <p class='desc'> {{ short_desc }} </p>
      <a class='readMore' href='#' data-id='{{ id }}' data-title='{{ title }}' data-desc='{{ description }}' data-img='{{ img }}'>Read More</a>
    </div>
  </div>
</div>
